<div class="card mt-4">
    <div class="card-body">
        <h1>Acerca de nosotros</h1>
        <p>Bienvenidos a la Plataforma de Control y Seguimiento de Disponibilidad de Laboratorios de la Universidad Autónoma Metropolitana (UAM) Lerma. En un esfuerzo por facilitar la gestión eficiente de nuestros recursos y brindar un entorno óptimo para la investigación y el aprendizaje, hemos desarrollado esta plataforma dedicada al monitoreo de nuestros laboratorios.</p>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body">
        <h1>Nuestra Misión</h1>
        <p style="text-align: justify;">
        Nuestra misión es optimizar el uso de los laboratorios de la UAM Lerma a través de un sistema integral de control y seguimiento. Buscamos proporcionar a estudiantes, profesores e investigadores una herramienta fácil de usar que les permita verificar la disponibilidad de laboratorios, realizar reservaciones y obtener información actualizada sobre el estado de los equipos y espacios de trabajo.</p>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body">
        <h1>Nuestra Visión</h1>
        <p style="text-align: justify;">
        Nuestra visión es convertirnos en una plataforma de referencia para la gestión de laboratorios en la UAM Lerma. Buscamos ser un referente en el desarrollo de soluciones tecnológicas que faciliten la gestión de recursos y la toma de decisiones en la universidad.</p>
    </div>