<div class="col-md-4 mx-auto">
  <div class="card mt-4">
    <div class="card-header">
      <h3>Nuevo Laboratorio</h3>
    </div>
    <div class="card-body">
      <form action="/laboratorios/nuevo-lab" method="POST">
        <div class="form-group">
          <input
            type="text"
            name="name"
            class="form-control"
            placeholder="Nombre"
            autofocus
          />
        </div>
        <div class="form-group mt-4">
          <input
            name="cupo"
            class="form-control"
            placeholder="Cupo"
          ></textarea>
        </div>
        <div class="form-group mt-4">
            <input type="text" name="responsable" class="form-control" placeholder="Responsable">
        </div>
        <div class="form-group mt-4">
            <h4>División</h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="area" id="CBI" value="CBI">
                <label class="form-check-label" for="CBI">CBI</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="area" id="CBS" value="CBS">
                <label class="form-check-label" for="CBS">CBS</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="area" id="CSH" value="CSH">
                <label class="form-check-label" for="CSH">CSH</label>
            </div>
        </div>
        <div class="form-group mt-4 mb-4">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="habilitado" name="habilitado" value="true" checked>
                <label class="form-check-label" for="habilitado">Habilitado</label>
            </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary w-100" type="submit">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>