<footer class="bg-dark text-white footer_uam">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-8">
        <p class="lead text-white mt-3">Universidad Autónoma Metropolitana,
          Unidad Lerma
        </p>
        <p class="lead text-white">Av. de las Garzas No. 10, Col. El Panteón,
          Municipio Lerma de Villada, Estado de México, C.P. 52005
        </p>
        <p class="lead text-white">Teléfonos: 01 728 282 7002 </p>
      </div>
      <div class="col-sm-4 text-end">
        <h3 class="lead mt-3 pe-5">Siguenos</h3>
        <a
          class="text-decoration-none"
          href="https://www.facebook.com/UAMLerma?fref=ts"
          target="_blank"
          rel="noopener noreferrer"
        ><i class="fa-brands fa-facebook fa-2xl mt-4 p-3"></i></a>
        <a
          class="text-decoration-none"
          href="https://twitter.com/UAM_Lerma"
          target="_blank"
          rel="noopener noreferrer"
        ><i class="fa-brands fa-twitter-square fa-2xl p-3"></i></a>
        <a
          class="text-decoration-none"
          href="https://www.youtube.com/channel/UCv8QLeqA64cb0Ydp86CPjDw?app=desktop"
          target="_blank"
          rel="noopener noreferrer"
        ><i class="fa-brands fa-youtube fa-2xl p-3"></i></a>
      </div>
    </div>
  </div>
</footer>
