<div class="mt-4 mb-4 text-center">
          <form action="/users/signin" method="POST">
            <div class="mt-3">
              <select
                class="form-select border-primary text-center"
                aria-placeholder="Departamento"
              >
                <option selected disabled>Departamento</option>
                <option value="1">Procesos productivos</option>
                <option value="2">Artes y Humanidades</option>
                <option value="3">Sistemas de información y comunicación</option>
              </select>
            </div>
            <div class="mt-3">
              <input
                type="password"
                name="password"
                class="form-control border border-primary"
                placeholder="Contraseña"
              />
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary w-100">
                Ingresar
              </button>
            </div>
          </form>
        </div>